<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Projects Table(normal)</strong>
    </c-card-header>
    <c-card-body style="position: relative;">
      <p class="text-body-secondary small">
        Displaying project information dynamically
      </p>
      <c-input-group class="mb-3" style="max-width: 300px;">
          <span cInputGroupText>
         <svg cIcon name="cil-magnifying-glass"></svg>
        </span>
        <input cFormControl type="text" (input)="handleSearch($event)" placeholder="Search projects..." />
      </c-input-group>

      <table cTable>
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Skills</th>
            <th>Members </th>
            <th>Tasks </th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
       <tr *ngFor="let project of projects; let i = index">
  <th scope="row">{{ i + 1 }}</th>
  <td>{{ project.name }}</td>
  <td>
    <div class="d-flex flex-wrap gap-1">
      <span *ngFor="let skill of project.requiredSkills" 
            class="badge bg-info text-white me-1">
        {{ skill.name }}
      </span>
    </div>
  </td>
  <td>
    <span class="badge bg-primary">
      {{ project.users.length }} users
    </span>
  </td>
  <td>
    <span class="badge bg-secondary">
      {{ project.tasks.length }} tasks
    </span>
  </td>
  <td>{{ project.createdAt | date }}</td>
  <td>
    <div class="d-md-flex mx-auto">
      <div class="d-flex gap-2">
        <button cButton color="primary" (click)="onViewProject(project)">View</button>
        <button cButton color="danger" (click)="deleteProject(project)">Affect</button>
      </div>
    </div>
  </td>
</tr>
        </tbody>
      </table>

      <div *ngIf="loading" class="text-center mt-3">
        <c-spinner color="primary" label="Loading..."></c-spinner>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <div class="d-flex gap-2">
          <button
            *ngFor="let page of pagesArray"
            (click)="setPage(page)"
            cButton
            [color]="currentPage === page ? 'primary' : 'secondary'"
          >
            {{ page }}
          </button>
        </div>
      </div>
      
 
    </c-card-body>
  </c-card>
</c-col>
