<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="primary"
      [title]="'Total Projects'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
      {{ totalProjects }}
    
      </ng-template>
    
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" [type]="'line'"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3" *ngIf="!isEmployee">
    <c-widget-stat-a
      [title]="'Chef de Project'"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{totalManagers}}
        <!-- <span>$6.200</span>
        <span class="fw-normal" style="font-size: 12px;">
          (40.9%<svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span> -->
      </ng-template>
      <!-- <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template> -->
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[1]" class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3" *ngIf="!isEmployee">
    <c-widget-stat-a
      [title]="'Employee(s)'"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
       {{totalEmployees}}
      </ng-template>

      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3" *ngIf="!isEmployee">
    <c-widget-stat-a
      color="primary"
      [title]="'Total users'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
      {{ totalUsers }}
        <!-- <h5>Total Users: {{ totalUsers }}</h5> -->
        <!-- <span class="fw-normal" style="font-size: 12px;">
          (-12.4% <svg cIcon name="cilArrowBottom" size="sm"></svg>)
        </span> -->
      </ng-template>
    
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" [type]="'line'"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  

  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Completed Tasks'"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
       1(static)
      </ng-template>

      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Task(s)'"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>4 (static)</span>
       
      </ng-template>
 
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[3]" [options]="options[3]" class="mt-3 mx-3" height="70" type="bar"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  

</c-row>
